%html
  %head
    %title
      SauceLabs.tv
  %body
    Please log in with your username and API key

    %form{:method => 'POST', :action => '/login'}
      %label
        Sauce Labs Username:
        %input{:name => 'username'}
      %label
        Sauce Labs API Key:
        %input{:name => 'api_key', :type => 'password'}
      %input{:type => 'submit', :value => 'Log in'}
